.Container {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.Container > * {
  margin-top: 3rem;
}

.Container > div > h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
}
.wrapped {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.3rem;
  display: inline-block;
  font-weight: bold;
  padding: 0.8rem 2rem;

  border: 2px solid white;
  border-radius: 1rem;
}
.TrendingText {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.TrendingText > * {
  padding-right: 2rem;
}
.movieSection {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 425px) {
  .Container > div > h1 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
  .wrapped {
    overflow-y: hidden;
  }
}
